<div id="material-example">
    <mat-card class="patient-card"> 
            <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Chhotu</mat-card-title>
                    <mat-card-subtitle>Dog</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
            alt="Photo of Chhotu"
            class="patient-image">
            <mat-card-content>
                    <p>
                      Chottu's diagnosis: Broken leg, fleas
                    </p>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                    <button mat-fab>Fab</button>
                    <button mat-mini-fab>mFab</button>
            </mat-card-actions>
    </mat-card>
  </div>
  
  
  